
/*header*/
header{
	width: 1440px; height: 76px; background: #303030; margin: 0 auto;
}
header .logo_div{
	float: left; margin: 20px 0 0 30px;
}
header .submenu_div{
	float: right;
}
header .submenu_div ul li{
	float: left; width: 82px; height: 68px; text-align: center; padding-top: 8px;
}
header .submenu_div ul li img{
	width: 40px; height: 35px;
}
header .submenu_div ul li:hover{background: #666666;}
header .submenu_div ul .li_top1{
	width: 102px;
}
header .submenu_div ul .li_top1 span{
	color: #FFFF00;
}
header .submenu_div ul li span{
	display: block; font-size: 12px; padding-top: 8px; color: #fff;
}

/*nav*/
nav{
	width: 1440px; height: 42px; background: #575757; margin: 0 auto;
}
nav ul{
	margin-left: 15px;
}
nav ul li{
	float: left; padding: 0 12px; line-height: 42px; font-size: 12px;
}
nav ul .li_s{
	background: url(../images/imgs-1.gif) no-repeat right center;
}
nav ul li:hover{
	background: #303030;
}
nav ul li a{
	color: #fff;
}
nav ul li i img{
	vertical-align: middle; margin-right: 10px; width: 17px; height: 18px;
}
nav ul li span{
	width: 32px; height: 16px; border-radius: 8px; background: #ff3e39; text-align: center; line-height: 16px; font-size: 12px; display: inline-block; vertical-align: middle; margin-left: 10px; color: #fff;
}
/**********************************************************/
#list{
	width: 180px; height:632px;  float: left; overflow-y:auto;
}
#list .top{
	width: 135px; height: 34px; padding-left: 28px ; background: #303030;  font-weight: bolder; font-size: 15px; line-height: 34px;
}
.top a{
	color: #fff;
}
#list .zong{
	 height: auto;
}
.zong li, .none li a,.zong li a{
	color:#fff;
}
.click{
	
	width: 100%; height: auto;background: #575757 url(../images/menu_1.png) 9px 0 no-repeat; line-height: 42px; text-indent: 40px; 
	border-top: #7f7f7f 1px solid;
}
.click2{
	width: 100%; height: auto;line-height: 42px; text-indent: 40px; 
	border-top: #303030 1px solid;
	background:#575757 url(../images/menu1_1.png) 9px 0 no-repeat;
	}
	#click2{
		display:block;width:163px;height:43px;
	}
.none{
	position: relative;display: none;
}
.none2{
	display: block;position: relative;
}
.none li {
	width: 100%; height: 30px;  background: #575757; line-height: 30px;
	text-align: center;
}
.none li a{
	display: block;width:100%;height:100%;
}
.zong>li:hover{
	background: #303030 url(../images/menu_1.png) 9px 0 no-repeat;
}
.none2 li:hover{
	background:#404040;
}
/******************************************************/
.list_right{
	background:#eee;float:left;height:632px;width:1243px;
	overflow-y: auto;
}
.list_r{
	/*height:1000px;*/
    background: url(../images/body_bj.jpg);
    padding: 10px;
    width: 1200px;
    font-family: Microsoft Yahei;
}
.list_r h1 {
    border-bottom: 1px solid #ccc;
    color: #333;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}
 .action-span a {
    float: right;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    background: #c43926 url(../images/icon_add02.gif) no-repeat 6px center;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}
 .action-span1 {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: normal;
}
.action-span1:hover a{
	color:#ff3f3f;text-decoration: underline;
}
/*******************************************************/
.form-div {
    background: #f3f3f3 url("../images/th_bg.gif") repeat-x;
    border: 1px solid #ddd;
    padding: 5px;
    color: #808080;
    margin: 0 0 10px 0;
}
.button {
    padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;

}
/*****************************************************/
/*
 列表部分的样式
 */
.list-div {
  width: 100%;
  padding: 0 ;
}

.list-div table {
  width: 100%;
  background:#ddd;
}

.list-div th {
  line-height: 39px;
  background: #f3f3f3 url("../images/th_bg.gif") repeat-x;
  white-space: nowrap;
}

.list-div td {
  background: #fff;
  padding: 10px;
   line-height: 39px;
}
.list-div td:last-of-type{
  border-right:none;
}
.list-div tr:last-of-type td{
  border-bottom:none;
}

.list-div td.first-cell{
  font-weight: bold;
  padding-left: 10px;
}

.list-div input {
  vertical-align: middle;
}

.list-div a:visited, .list-div a:link {
  color: #192E32;
}

.list-div a:hover {
  color: #9D7250;
}

.list-div input, .list-div img {
  vertical-align: middle; 
}

.list-div .footer {
  background: #F4FAFB;
  text-align: right;
}

.list-div th a,.list-div th a:hover,.list-div th a:link{
  color: #111;
}
/**************************************************/
.shops td{
	background-color: rgb(255, 255, 255);
}
#act{
	height:23px;
}
#page-table{
	width:100%;
}
#turn-page {
	width:100%;
	height:30px;
    text-align: right;
    padding-top: 15px;
}
#page-link {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #999;
}
/******************************************************/
#footer {
  background: #f3f3f3 url("../images/th_bg.gif") repeat-x;
  border: 1px solid #ddd;
  padding: 15px;
  color: #9CACAF;
  margin: 10px 0;
  text-align: center;
}











